@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 2.5vw, 3rem);
  padding-bottom: 3%;
  padding-top: 3%;
}

h2 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 1rem);
  padding-bottom: 3%;
}

h3 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

p {
  font-family: "Sintony", sans-serif;
  font-size: 1.125rem;
}

button {
  padding-bottom: 3%;
  padding-top: 3%;
}
