@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 5rem);
  padding-bottom: 3%;
  padding-top: 3%;
}

h2 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: clamp(1.9rem, 2.5vw, 1rem);
  padding-bottom: 3%;
}

h3 {
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

p {
  font-family: "Sintony", sans-serif;
  font-size: 1.125rem;
  color: #454545;
}

button {
  padding-bottom: 3%;
  padding-top: 3%;
  font-family: "Sintony", sans-serif;
}

a {
  font-size: 1.5rem;
  font-family: "Sintony", sans-serif;
}

/* Apply margin of 4rem for screens between 1024px and 1300px */
/* @media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .custom-margin {
    margin: 4rem;
    background-color: red; /* Change the background color as needed */

/* Apply margin of 2rem for screens 1300px or less */
/* @media only screen and (max-width: 1300px) {
  .custom-margin {
    margin: 2rem;
    background-color: blue; /* Change the background color as needed */
